{% extends 'base.twig' %}

{% block content %}

    <h1> Lista de Productos</h1>

    <div class="product-list">
       
    <table class="product-table">
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Sector</th>
                <th>Precio</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in data %}
                <tr class="product-row" idProducto={{producto.id}}>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.sector }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>
                        {% if producto.estado == 0 %}
                            <span class="product-status">No Disponible</span>
                        {% else %}
                            <span class="product-status available">Disponible</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}
