{% extends 'base.twig' %}

{% block content %}

    <h1>Cerrar sesion</h1>
    <form id="login-form">
        
        <button type="submit" >volver al inicio</button>
        <button type="submit">Logout</button>
    </form>
     <script src="/public/js/logout.js"></script>

{% endblock %}
