<!DOCTYPE html>
<html>
<head>
    <title>Plantilla Base</title>
    <link rel="stylesheet" href="/public/index.css" />
</head>
<body>
    
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
