<!DOCTYPE html>
<html>
<head>
    <title>Plantilla Base</title>
    <link rel="stylesheet" href="/public/index.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    
     
    <nav >
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/usuarios">Usuarios</a></li>
            <li><a href="/pedidos">Pedidos</a></li>
            <li><a href="/pedidos/cargarPedido">Cargar pedidos</a></li>
            <li><a href="/mesas">Mesas</a></li>
            <li><a href="/mesas/cargar">Cargar Mesa</a></li>
            <li><a href="/usuarios/logout">Logout</a></li>
            <li><a href="/usuarios/login">Login</a></li>
            <li><a href="/usuarios/singup">Singup</a></li>
            <li><a href="#">Acciones Avanzadas</a></li>
        </ul>
    </nav>
    
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
